@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --font-size-small: 2vh; 
    --font-size: 2vh;
    --font-size-large: 2.5vh;
}

body {
    margin: 0;
    background-color: darkslateblue;
    font-family: "Inconsolata", monospace;
    font-size: var(--font-size);
    color: white;
}

a {
    color: lightsteelblue;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-large);
}

button {
    padding: 1vh 1vh;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Inconsolata", monospace;
    font-size: var(--font-size);
}

button:hover{
    filter: opacity(0.9) drop-shadow(0 0 0 blue);
}

input, #initializeTypeSelect, select {
    display: inline-block;
    width: 100%;
    background: transparent;
    border: 1px dashed lightsteelblue;
    color: white;
    font-style: italic;
    font-family: "Inconsolata", monospace;
    font-size:  var(--font-size);
    padding: 1vh;

    box-sizing:border-box;
}

input::placeholder {
    color: lightsteelblue;
}

option {
    background-color: darkslateblue;
    color: aliceblue;
}

.headline {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.headline > * {
    padding: 0 1vh;
}

.controlPanel {
    height: 25vh;
    padding: 1vh;
    display: grid;
    column-gap: 3vw;
    grid-template-columns: 3fr 1fr 3fr;
    font-size: var(--font-size);

}

.operationsInput {
    display: grid;
    gap: 1vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.operationsInput > div {
    display: grid;
    gap: 1vh;
    grid-template-columns: 15vh 1fr 1fr 15vh 10vh;
    align-items: center;
    justify-items: end;
}

.startButton {
    display: inline-block;
    grid-column: 4 / span 2;
}

.operationsInput > div > * {
    align-self: stretch;
    justify-self: stretch;
}

.operationsInput > div > label {
    display: block;
    text-align: center;
    align-self: center;
    justify-self: end;
    font-size: var(--font-size-large);
}



.visualisationInput {
    display: grid;
    gap: 1vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.visualisationInput > div {
    align-items: stretch;
    justify-items: stretch;
}

.visualisationInput > div > * {
    width: 100%;
    height: 100%;
}

#messages {
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 40vw;
    /* min-height: 20vh; */
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: var(--font-size-small);
}

#messages > * {
    padding: 0.2vh;
    margin: 0;
}

#olProperties {
    padding: 1vh 2vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    font-size: var(--font-size);
    height: 5vh;
}

#olProperties > div {
    margin-right: 3vw;
}

#cy {
    width: 100%;
    min-height: 60vh;
    display: block;
    background-color: white;
    font-family: 'Inconsolata', monospace;
}

.nodeTag {
    font-style: italic;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

.nodeValue {
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.hidden {
    display: none;
}


