@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --font-size: 1.5rem;
}

body {
    margin: 0;
    background-color: darkslateblue;
    /*font-family: Almarai;*/
    font-family: Inconsolata;
    font-size: var(--font-size);
    color: aliceblue;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid aliceblue;
    color: aliceblue;
    min-width: 7vw;
    font-size: var(--font-size);
    font-family: Inconsolata;
}

button:hover{
    filter: opacity(0.9) drop-shadow(0 0 0 blue);
}

input, #initializeTypeSelect {
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid lightsteelblue;
    color: aliceblue;
    font-style: italic;
    font-size: var(--font-size);
    font-family: Inconsolata;
    width: 20%;
}

#initializeTypeSelect {
    width: 30%;
}

input::placeholder {
    color: lightsteelblue;
}

option {
    background-color: darkslateblue;
    color: aliceblue;
}

.controlPanel {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 25vh;
}

#messages {
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: aliceblue;
    color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 40vw;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

#messages > span {
    padding: 0.2rem;
}

#olProperties {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    color: darkslateblue;
    border: 2px solid darkslateblue;
    padding: 1vh 1vw;
}

#olProperties > div {
    margin-right: 3vw;
}

#cy {
    width: 100%;
    height: 800px;
    display: block;
    background-color: aliceblue;
    font-family: 'Inconsolata', monospace;
}


